<div class="col-md-12">

  <div class="col-lg-6 col-lg-offset-4 col-md-8 col-sm-6 player-name-header">
    <b>Name:</b> Antonio Simmons
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 player-left-column">
    <img class="player-image main" src="/images/players/no_image.png">
    
    <div>
      <h3 class="strong no-padding">Player Information:</h3><br>
      <ul class="list-unstyled player-stats">
      <li><b>Height:</b> 6'0</li>
      <hr>
      <li><b>Weight:</b> 180 lbs</li>
      <hr>
      <li><b>Age:</b> 27</li>
      <hr>
      </ul>
    </div>
  </div>


  <div class="col-lg-6 col-md-8 col-sm-6 text-left player-info">
    <b>Bio:</b> N/A
  </div>


  <div class="col-lg-2 col-xs-12 other-players-heading"><h3>Other Players</h3></div>

  <div class="col-lg-2 col-xs-12 other-players">

    <div class="col-lg-12 other-players-heading2">Other Players</div>

    <div class="col-xs-12 col-sm-6 col-lg-12 no-padding">

      <div class="col-lg-12 col-xs-6 col-sm-6">
        <a href="/antoniog">
          <img class="player-image" src="/images/players/no_image.png">
          <strong>Antonio Gonzalez</strong>
        </a>
      </div>

      <div class="col-lg-12 no-padding invisible-div large-page-visible"><hr></div>

      <div class="col-lg-12 col-xs-6 col-sm-6">
        <a href="/yonathanw">
          <img class="player-image" src="/images/players/no_image.png">
          <strong>Yonathan Walawala</strong>
        </a>
      </div>

    </div>

    <div class="col-lg-12 no-padding invisible-div large-page-visible"><hr></div>

    <div class="col-xs-12 col-sm-6 col-lg-12 no-padding">

      <div class="col-lg-12 col-xs-6 col-sm-6">
        <a href="/steveng">
          <img class="player-image" src="/images/players/no_image.png">
          <strong>Steven Garcia</strong>
        </a>
      </div>

      <div class="col-lg-12 no-padding invisible-div large-page-visible"><hr></div>

      <div class="col-lg-12 col-xs-6 col-sm-6">
        <a href="/keving">
          <img class="player-image" src="/images/players/no_image.png">
          <strong>Kevin Garcia</strong>
        </a>
      </div>

    </div>

    
  </div>

</div>

  
  