<link rel="stylesheet" href="/styles/bracket.css">

<div id="content-wrapper">
  <div class="col-sm-12">

<!-- Table Dates -->
    <table class="gridtable">
      <tr>
        <th class="round_3"> SWEET 16 </th>
        <th class="round_4"> ELITE EIGHT </th>
        <th class="round5"> FINAL FOUR </th>
        <th class="round_6"> CHAMPION </th>
        <th class="round_5"> FINAL FOUR </th>
        <th class="round_4"> ELITE EIGHT </th>
        <th class="round_3"> SWEET 16 </th>
      </tr>
		<h2>June 23rd</h2>
    </table>
  </div>

<div class="clr"></div>

<!-- Bracket -->
<div class="nycba_bracket">

<!-- Sweet 16 -->
	<div class="col-sm-2 column_override">

		<div class="top_bracket"><a href="/steveng">Steven G </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket"><a href="/player">Player </a><em class="score">0</em></div>
		

		<div class="navbar-text"></div>
		<div class="clr"></div>

		<div class="top_bracket"><a href="/keving">Kevin G </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket"><a href="/player">Player </a><em class="score">0</em></div>

		<div class="navbar-text"></div>
		<div class="clr"></div>

		<div class="top_bracket"><a href="/yonathanw">Yonathan W </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket"><a href="/player">Player </a><em class="score">0</em></div>

		<div class="navbar-text"></div>
		<div class="clr"></div>

		<div class="top_bracket"><a href="/antoniog">Antonio G </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket"><a href="/player">Player </a><em class="score">0</em></div>

	</div>


<!-- Elite 8 -->
	<div class="col-sm-2 column_override elite_8_wrapper">

		<div class="top_bracket elite_8_top"><a href="/steveng">Steven G </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket elite_8_bottom"><a href="/keving">Kevin G </a><em class="score">13</em></div>

		<div class="navbar-text elite_8_gap"></div>
		<div class="clr"></div>

		<div class="top_bracket elite_8_top"><a href="/yonathanw">Yonathan W </a><em class="score">12</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket elite_8_bottom"><a href="/antoniog">Antonio G </a><em class="score">16</em></div>


	</div>


<!-- Final 4 -->
	<div class="col-sm-2 column_override final_4_wrapper">

		<div class="top_bracket final_4_top"><a href="/steveng">Steven G </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket elite_8_bottom"><a href="/antoniog">Antonio G </a><em class="score">11</em></div>


	</div>


<!-- Championship -->
	<div class="col-sm-2 column_override champ_wrapper">

		<div class="champ_top elite_8_bottom"><a href="/antonios">Antonio S </a><em class="score">16</em></div>
		<div class="elite_8_bottom"><a href="/steveng">Steven G </a><em class="score">14</em></div>
	
		


	</div>

	<!-- Final 4 -->
	<div class="col-sm-2 column_override final_4_wrapper">

		<div class="top_bracket_right final_4_top"><a href="/antonios">Antonio S </a><em class="score">17</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket_right elite_8_bottom"><a href="/joshf">Josh F </a><em class="score">15</em></div>


	</div>


	<!-- Elite 8 -->
	<div class="col-sm-2 column_override elite_8_wrapper">

		<div class="top_bracket_right elite_8_top"><a href="/antonios">Antonio S </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket_right elite_8_bottom"><a href="/chrisc">Chris C </a><em class="score">16</em></div>

		<div class="navbar-text elite_8_gap"></div>
		<div class="clr"></div>

		<div class="top_bracket_right elite_8_top"><a href="/kevinb">Kevin B </a><em class="score">7</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket_right elite_8_bottom"><a href="/joshf">Josh F </a><em class="score">16</em></div>


	</div>



	<!-- Sweet 16 -->
	<div class="col-sm-2 column_override column_override_right">

		<div class="top_bracket_right"><a href="/antonios">Antonio S </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket_right"><a href="/player">Player </a><em class="score">0</em></div>

		<div class="navbar-text"></div>
		<div class="clr"></div>

		<div class="top_bracket_right"><a href="/chrisc">Chris C </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket_right"><a href="/player">Player </a><em class="score">0</em></div>

		<div class="navbar-text"></div>
		<div class="clr"></div>

		<div class="top_bracket_right"><a href="/kevinb">Kevin B </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket_right"><a href="/player">Player </a><em class="score">0</em></div>

		<div class="navbar-text"></div>
		<div class="clr"></div>

		<div class="top_bracket_right"><a href="/joshf">Josh F </a><em class="score">16</em></div>
			<div class="clr"></div>
		<div class="bottom_bracket_right"><a href="/player">Player </a><em class="score">0</em></div>

	</div>




</div>