<h1 class="text-center">Champions</h1>
<h4 class="text-center">Past Champions listed</h4>

<table width="100%">
  <thead>
	<tr>
	  <th width="30%"><h3>Player</h3></th>
	  <th width="14%" class="center"><span class="pointer"><br>Date</th> 
	  <th width="14%" class="center"><span class="pointer"><br>Past Brackets</th> 
	  <th width="14%" class="center"><span class="pointer"><br>Amount Won</th>
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td align="left"><a class="dark-link" href="/antonios"><strong>1) Antonio Simmons</strong></a></td>
	  <td align="center">07/1/15</td> 
	  <td align="center"><a href="/bracket1">Bracket</a></td> 	  
	  <td align="center">$200</td>
	</tr>
  </tbody>
</table>

<br>
<br>