

<div class="col-xs-12 col-sm-12">
  
  <div class="col-xs-12 col-sm-12"><h1><span class="orange">NYCBA</span> 1 On 1 League</h1></div>
  
  <div class="col-xs-12 col-sm-12"><h4><strong><span class="red">Every Weekend</span> adult basketball tournament for high level players at one location for cash prizes</strong></h4></div>


  <div class="col-xs-12 col-sm-12 gray-box">
    <h2>The Tournament begins the weekend of June 13th</h2> 
    <h3>and welcomes players throughout NYC to compete.<br><br>
    Fielding 16 Players in a single elimination style tournament in a prime location in NYC!<br><br>
    <span class="orange">$200 cash prize distributed to winner of tournament.</span></h3>
  </div>

  <div class="col-xs-12 col-sm-12 text-left">
    <h2 class="orange">$25 <small>(per player)</small></h2>
  </div>

  <div class="col-xs-12 col-sm-6 pull-left text-left">
    <h3>Includes:</h3>

    <ul>
      <li><strong>$200 cash prize</strong></li>
      <li><strong>All Court and Referee Fees</strong></li>
      <li><strong>Player Profile</strong></li>
      <li><strong>Reversible Jersey</strong></li>
      <li><strong>Championship Trophy</strong></li>       
    </ul>

    <p class="red">Space is limited.</p>

    <span class="btn-orange"><a href="/signup">Sign Up Online Today!</a></span>

  </div>

  <div class="col-xs-12 col-sm-6 pull-left dotted-box">
    <h3 class="orange">Test Your Skills?</h3> 
      Come to our Open Scrimmage on<br> 
      <span class="orange">Saturday, June 6th, at 1:00 PM.</span><br>
      Be a part of the<br>
      best NYC Basketball League.<br><br>
  </div>

</div>

