
<nav class="navbar navbar-default navbar-dark" role="navigation">
  <div class="container wide no-padding">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	      	<span class="sr-only">Toggle navigation</span>
	      	<span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><img class="logo" src="/images/nycba-logo.png" width="100"></a>
	    </div>

	    <div class="collapse navbar-collapse" id="navbar-collapse">
	      <ul class="nav navbar-nav navbar-left navbar-margin">

	      	<li ng-class="{active: isActive('/divisions')}">
		    	<a href="/bracket">Current Bracket</a>
		    </li>
		    <li ng-class="{active: isActive('/players')}">
		    	<a href="/players">Players</a>
		    </li>
		    <li ng-class="{active: isActive('/divisions')}">
		    	<a href="/champions">Champions</a>
		    </li>
		    <li ng-class="{active: isActive('/divisions')}">
		    	<a href="/rules">Rules</a>
		    </li>
		    <li ng-class="{active: isActive('/signup')}">
		    	<a href="/signup">Player Sign Up</a>
		    </li>
		    <li ng-class="{active: isActive('/divisions')}">
		    	<a href="/photos">Photos</a>
		    </li>
		    <li>
		    	<a href="https://www.facebook.com/nycba.league" target="_blank"><span class="fa fa-facebook"></span></a>
		    </li>
		    <li>
		    	<a href="https://twitter.com/NYCBA_League" target="_blank"><span class="fa fa-twitter"></span></a>
		    </li>
		    <li>
		    	<a href="http://instagram.com/nycba_league" target="_blank"><span class="fa fa-instagram"></span></a>
		    </li>

	      </ul>
	    </div>
	  </div>
	</div>
</nav>


