<div class="col-md-12 ng-scope">

	<!-- ngRepeat: photo in photos --><div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ng-scope">
		<a class="player-image main thumbnail center" ng-href="/images/photos/NYCBA_Jersey_orange_front.png" data-lightbox="photos" href="/images/photos/NYCBA_Jersey_orange_front.png"><img class="player-image" ng-src="/images/photos/NYCBA_Jersey_orange_front.png" src="/images/photos/NYCBA_Jersey_orange_front.png"></a>
	</div><!-- end ngRepeat: photo in photos --><div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ng-scope">
		<a class="player-image main thumbnail center" ng-href="/images/photos/NYCBA_Jersey_orange_back.png" data-lightbox="photos" href="/images/photos/NYCBA_Jersey_orange_back.png"><img class="player-image" ng-src="/images/photos/NYCBA_Jersey_orange_back.png" src="/images/photos/NYCBA_Jersey_orange_back.png"></a>
	</div><!-- end ngRepeat: photo in photos --><div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ng-scope">
		<a class="player-image main thumbnail center" ng-href="/images/photos/NYCBA_Jersey_Grey_front.png" data-lightbox="photos" href="/images/photos/NYCBA_Jersey_Grey_front.png"><img class="player-image" ng-src="/images/photos/NYCBA_Jersey_Grey_front.png" src="/images/photos/NYCBA_Jersey_Grey_front.png"></a>
	</div><!-- end ngRepeat: photo in photos --><div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ng-scope">
		<a class="player-image main thumbnail center" ng-href="/images/photos/NYCBA_Jersey_Grey_back.png" data-lightbox="photos" href="/images/photos/NYCBA_Jersey_Grey_back.png"><img class="player-image" ng-src="/images/photos/NYCBA_Jersey_Grey_back.png" src="/images/photos/NYCBA_Jersey_Grey_back.png"></a>
	</div><!-- end ngRepeat: photo in photos -->

</div>