

<div class="col-md-12 ng-scope">

	<div class="alphabetic"><h3 class="ng-binding">B</h3></div>
	
	<div class="alphabetic-list">

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/kevinb" class="ng-binding" href="/kevinb">Barnes, Kevin</a>
		</div>

	</div>

</div>

<div class="col-md-12 ng-scope">

	<div class="alphabetic"><h3 class="ng-binding">C</h3></div>
	
	<div class="alphabetic-list">

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/chrisc" class="ng-binding" href="chrisc">Cabral, Chris</a>
		</div>

	</div>

</div>


<div class="col-md-12 ng-scope">

	<div class="alphabetic"><h3 class="ng-binding">F</h3></div>
	
	<div class="alphabetic-list">

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/joshf" class="ng-binding" href="/joshf">Franklin, Josh</a>
		</div>

	</div>

</div>

<div class="col-md-12 ng-scope">

	<div class="alphabetic"><h3 class="ng-binding">G</h3></div>
	
	<div class="alphabetic-list">

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/keving" class="ng-binding" href="/keving">Garcia, Kevin</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/steveng" class="ng-binding" href="/steveng">Garcia, Steven</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/antoniog" class="ng-binding" href="/antoniog">Gonzalez, Antonio</a>
		</div>

	</div>

</div>

<div class="col-md-12 ng-scope">

	<div class="alphabetic"><h3 class="ng-binding">S</h3></div>
	
	<div class="alphabetic-list">

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/antonios" class="ng-binding" href="/antonios">Simmons, Antonio</a>
		</div>

	</div>

</div>

<div class="col-md-12 ng-scope">

	<div class="alphabetic"><h3 class="ng-binding">W</h3></div>
	
	<div class="alphabetic-list">

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ng-scope">
		  <a ng-href="/yonathanw" class="ng-binding" href="/yonathanw">Walawala, Yonathan</a>
		</div>

	</div>

</div>



