

<div class="col-xs-12 col-sm-12">
  
  <div class="col-xs-12 col-sm-12"><h1><span class="orange">NYCBA</span> 1 On 1 League</h1></div>
  
  <div class="col-xs-12 col-sm-12"><h3>Rules For Tournament</h3></div>


  <div class="col-xs-12 col-sm-12 gray-box">

    <h3 class="text-left">1) Game is 16 by 1's and 2's.<br><br>
        2) Player must win by 2 points or more.<br><br>
        3) 6 foul limit. If a player receives 6 fouls, they foul out of the game and forfeit the match regardless of score. <br><br>
        4) Take backs on rim hit only, take ball back to the three point line. <br><br>
        5) Who receives ball first? At the start of each game, Players will shoot from the 3 point line, first player to hit and other player not match receives the ball first. <br><br>
        6) Change of Possession - The ball is exchanged after every made basket. There will be no "make-it-take-it" rule.<br><br>
        7) Ball Out-of-Bounds - The ball will be taken out from the top of the key.<br><br>
        8) Sportsmanship - Good sportsmanship is expected from all participants and spectators. poor sportsmanship can lead to ejection by referee.<br><br>
        9) NYCBA Officals have final say on all decisions.<br><br>
        10) In the unfortunate case of a severe player injury, player that is injured and unable to continue playing will have to forfeit match.<br><br>


    </h3>

  </div>



</div>

